In [43]:
# librerias
import pandas as pd
from os import listdir
import numpy as np
from os.path import exists

In [45]:
# unificar csv's
csv1 = pd.DataFrame(list())
path = "C:\\Users\\ext_fantmiraudal\\Desktop\\test_vision_api\\Object Detection Data\\Parte 1 y 2\\csvs1y2\\"
for csv in listdir(path):
    csv_path = str(path) + str(csv)
    csv2 = pd.read_csv(csv_path, names=['label_name','x_min','y_min','bbox_width','bbox_height','image_name','image_width','image_height'])
    csv1 = pd.concat((csv1,csv2), axis = 0)

In [46]:
# revisar data frame
csv1

,label_name,x_min,y_min,bbox_width,bbox_height,image_name,image_width,image_height
0,label_name,bbox_x,bbox_y,bbox_width,bbox_height,image_name,image_width,image_height
1,bolsa,1,89,83,58,5897_149045727679.png,112,250
2,bolsa,0,88,69,83,5897_149045727679.png,112,250
3,bolsa,5,58,93,62,5898_149045727681.png,112,250
4,bolsa,0,58,80,81,5898_149045727681.png,112,250
...,...,...,...,...,...,...,...,...
281,bolsa,0,69,123,191,13110_149046567741.png,123,260
282,caja,48,175,25,39,13111_149046567958.png,187,250
283,caja,89,219,29,31,13112_149046568028.png,187,250
284,bolsa,18,0,144,144,13113_149046568135.png,192,144
285,bolsa,87,33,79,84,13114_149046568344.png,187,250

In [47]:
# arreglar data frame 
csv1 = csv1.drop(index = 0).reset_index()
csv1

,index,label_name,x_min,y_min,bbox_width,bbox_height,image_name,image_width,image_height
0,1,bolsa,1,89,83,58,5897_149045727679.png,112,250
1,2,bolsa,0,88,69,83,5897_149045727679.png,112,250
2,3,bolsa,5,58,93,62,5898_149045727681.png,112,250
3,4,bolsa,0,58,80,81,5898_149045727681.png,112,250
4,5,full,0,0,189,250,5899_149045727793.png,189,252
...,...,...,...,...,...,...,...,...,...
12405,281,bolsa,0,69,123,191,13110_149046567741.png,123,260
12406,282,caja,48,175,25,39,13111_149046567958.png,187,250
12407,283,caja,89,219,29,31,13112_149046568028.png,187,250
12408,284,bolsa,18,0,144,144,13113_149046568135.png,192,144
12409,285,bolsa,87,33,79,84,13114_149046568344.png,187,250

In [5]:
# exportar
path_to_file = "C:\\Users\\ext_fantmiraudal\\Desktop\\test_vision_api\\Object Detection Data\\Parte 1 y 2\\xlsx_p12.xlsx"
csv1.to_excel(path_to_file)

In [48]:
csv1['label_name'].value_counts()

bolsa     6606
caja      4151
mala       644
otro       635
full       157
Bolsa       97
Caja        58
otros       30
bolsa       21
Otro         4
mala         3
Full         3
malo         1
Name: label_name, dtype: int64

In [49]:
csv1.dtypes

index            int64
label_name      object
x_min           object
y_min           object
bbox_width      object
bbox_height     object
image_name      object
image_width     object
image_height    object
dtype: object

In [50]:
csv1 = csv1.astype({"label_name": str, "x_min": float, "y_min": float, "bbox_width": float,\
                   "bbox_height": float, "image_name": str, "image_width": float, \
                    "image_height": float})

In [51]:
csv1.dtypes

index             int64
label_name       object
x_min           float64
y_min           float64
bbox_width      float64
bbox_height     float64
image_name       object
image_width     float64
image_height    float64
dtype: object

In [52]:
csv_final = csv1.copy()

In [33]:
# exportar
path_to_file = "C:\\Users\\ext_fantmiraudal\\Desktop\\test_vision_api\\Object Detection Data\\Parte 1\\csv_p1.csv"
csv1.to_csv(path_to_file)

In [34]:
# importar 
#csv_final = pd.read_csv(path_to_file, names=['label_name','x_min','y_min','bbox_width','bbox_height','image_name','image_width','image_height'])
csv_final = pd.read_csv(path_to_file)

In [53]:
# revisar
csv_final

,index,label_name,x_min,y_min,bbox_width,bbox_height,image_name,image_width,image_height
0,1,bolsa,1.0,89.0,83.0,58.0,5897_149045727679.png,112.0,250.0
1,2,bolsa,0.0,88.0,69.0,83.0,5897_149045727679.png,112.0,250.0
2,3,bolsa,5.0,58.0,93.0,62.0,5898_149045727681.png,112.0,250.0
3,4,bolsa,0.0,58.0,80.0,81.0,5898_149045727681.png,112.0,250.0
4,5,full,0.0,0.0,189.0,250.0,5899_149045727793.png,189.0,252.0
...,...,...,...,...,...,...,...,...,...
12405,281,bolsa,0.0,69.0,123.0,191.0,13110_149046567741.png,123.0,260.0
12406,282,caja,48.0,175.0,25.0,39.0,13111_149046567958.png,187.0,250.0
12407,283,caja,89.0,219.0,29.0,31.0,13112_149046568028.png,187.0,250.0
12408,284,bolsa,18.0,0.0,144.0,144.0,13113_149046568135.png,192.0,144.0
12409,285,bolsa,87.0,33.0,79.0,84.0,13114_149046568344.png,187.0,250.0

In [54]:
# revisar etiquetas
csv_final['label_name'].value_counts()

bolsa     6606
caja      4151
mala       644
otro       635
full       157
Bolsa       97
Caja        58
otros       30
bolsa       21
Otro         4
mala         3
Full         3
malo         1
Name: label_name, dtype: int64

In [55]:
# cambiar valores a valores estandar
csv_final['label_name'] = csv_final['label_name'].replace(['bolsa '],'bolsa')
csv_final['label_name'] = csv_final['label_name'].replace(['Bolsa'],'bolsa')
csv_final['label_name'] = csv_final['label_name'].replace(['otros'],'otro')
csv_final['label_name'] = csv_final['label_name'].replace(['Otro'],'otro')
csv_final['label_name'] = csv_final['label_name'].replace(['malo'],'mala')
csv_final['label_name'] = csv_final['label_name'].replace(['mala '],'mala')
csv_final['label_name'] = csv_final['label_name'].replace(['Full'],'full')
csv_final['label_name'] = csv_final['label_name'].replace(['Caja'],'caja')

In [56]:
# revisar etiquetas
csv_final['label_name'].value_counts()

bolsa    6724
caja     4209
otro      669
mala      648
full      160
Name: label_name, dtype: int64

In [15]:
# importar data referente a todas las imagenes obtenidas hasta el mes actual
path_data_total = 'C:\\Users\\ext_fantmiraudal\\Desktop\\test_vision_api\\Object Detection Data\\data_total_julio.csv'
data_total = pd.read_csv(path_data_total)

In [36]:
#revision
data_total[data_total['id']==11990]

,Unnamed: 0,id,Suborden,Imageurl,Producto,Etiqueta Envio,Rostro cliente,Numeracion del Domicilio
28953,11978,11990,149062150398,https://firebasestorage.googleapis.com/v0/b/tx...,1,1,0,0.0

In [17]:
# extraer data de imagenes sin producto
sin_producto = data_total[data_total['Producto']==0]
# revisar
sin_producto

,Unnamed: 0,id,Suborden,Imageurl,Producto,Etiqueta Envio,Rostro cliente,Numeracion del Domicilio
1,1,2,2130905477,https://firebasestorage.googleapis.com/v0/b/tx...,0,0,0,0.0
2,2,3,2130994563,https://firebasestorage.googleapis.com/v0/b/tx...,0,0,0,0.0
9,9,10,2131112911,https://firebasestorage.googleapis.com/v0/b/tx...,0,0,0,0.0
11,11,12,2131127014,https://firebasestorage.googleapis.com/v0/b/tx...,0,0,0,0.0
12,12,13,2131127052,https://firebasestorage.googleapis.com/v0/b/tx...,0,0,0,0.0
...,...,...,...,...,...,...,...,...
33807,16832,16947,149061750502,https://firebasestorage.googleapis.com/v0/b/tx...,0,0,0,1.0
33808,16833,16948,140001195542,https://firebasestorage.googleapis.com/v0/b/tx...,0,0,0,0.0
33809,16834,16949,14000119189601,https://firebasestorage.googleapis.com/v0/b/tx...,0,0,0,1.0
33810,16835,16950,149062043828,https://firebasestorage.googleapis.com/v0/b/tx...,0,0,0,0.0
33811,16836,16952,140001197757,https://firebasestorage.googleapis.com/v0/b/tx...,0,0,0,0.0

In [57]:
# importar data sin producto 12y3
path_data_sp = 'C:\\Users\\ext_fantmiraudal\\Desktop\\test_vision_api\\Object Detection Data\\data_sin_producto_123_revisada.xlsx'
sin_producto = pd.read_excel(path_data_sp)
# revisar
sin_producto

,Unnamed: 0,id,Suborden,Imageurl,Producto,Etiqueta Envio,Rostro cliente,Numeracion del Domicilio
0,0,2,2130905477,https://firebasestorage.googleapis.com/v0/b/tx...,0,0.0,0,0
1,1,3,2130994563,https://firebasestorage.googleapis.com/v0/b/tx...,0,0.0,0,0
2,2,10,2131112911,https://firebasestorage.googleapis.com/v0/b/tx...,0,0.0,0,0
3,3,12,2131127014,https://firebasestorage.googleapis.com/v0/b/tx...,0,0.0,0,0
4,4,13,2131127052,https://firebasestorage.googleapis.com/v0/b/tx...,0,0.0,0,0
...,...,...,...,...,...,...,...,...
3245,64,2868,149068014971,https://firebasestorage.googleapis.com/v0/b/tx...,0,0.0,0,1
3246,65,2869,149068046451,https://firebasestorage.googleapis.com/v0/b/tx...,0,0.0,0,0
3247,66,2958,148002068571,https://firebasestorage.googleapis.com/v0/b/tx...,0,0.0,0,0
3248,67,2979,149068541964,https://firebasestorage.googleapis.com/v0/b/tx...,0,0.0,0,0
3249,68,2988,149068893639,https://firebasestorage.googleapis.com/v0/b/tx...,0,0.0,0,0

In [59]:
# armar dataset de imagenes sin producto
df_sin_producto = pd.DataFrame(columns = ["index", "label_name","x_min", "y_min", "bbox_width", \
                                          "bbox_height","image_name", "image_width", "image_height"])
# agregar valores
for row in sin_producto.index:
    name = str(sin_producto.loc[row]['id']) + '_' + str(sin_producto.loc[row]['Suborden']) + '.png'
    df_sin_producto = df_sin_producto.append({"label_name" : 'nada', "image_name" : name}, \
                                             ignore_index=True)

In [60]:
# revisar
df_sin_producto

,index,label_name,x_min,y_min,bbox_width,bbox_height,image_name,image_width,image_height
0,NaN,nada,NaN,NaN,NaN,NaN,2_2130905477.png,NaN,NaN
1,NaN,nada,NaN,NaN,NaN,NaN,3_2130994563.png,NaN,NaN
2,NaN,nada,NaN,NaN,NaN,NaN,10_2131112911.png,NaN,NaN
3,NaN,nada,NaN,NaN,NaN,NaN,12_2131127014.png,NaN,NaN
4,NaN,nada,NaN,NaN,NaN,NaN,13_2131127052.png,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3245,NaN,nada,NaN,NaN,NaN,NaN,2868_149068014971.png,NaN,NaN
3246,NaN,nada,NaN,NaN,NaN,NaN,2869_149068046451.png,NaN,NaN
3247,NaN,nada,NaN,NaN,NaN,NaN,2958_148002068571.png,NaN,NaN
3248,NaN,nada,NaN,NaN,NaN,NaN,2979_149068541964.png,NaN,NaN
3249,NaN,nada,NaN,NaN,NaN,NaN,2988_149068893639.png,NaN,NaN

In [20]:
# revisar
df_sin_producto

,index,label_name,x_min,y_min,bbox_width,bbox_height,image_name,image_width,image_height
0,NaN,nada,NaN,NaN,NaN,NaN,2_2130905477.png,NaN,NaN
1,NaN,nada,NaN,NaN,NaN,NaN,3_2130994563.png,NaN,NaN
2,NaN,nada,NaN,NaN,NaN,NaN,10_2131112911.png,NaN,NaN
3,NaN,nada,NaN,NaN,NaN,NaN,12_2131127014.png,NaN,NaN
4,NaN,nada,NaN,NaN,NaN,NaN,13_2131127052.png,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3419,NaN,nada,NaN,NaN,NaN,NaN,16947_149061750502.png,NaN,NaN
3420,NaN,nada,NaN,NaN,NaN,NaN,16948_140001195542.png,NaN,NaN
3421,NaN,nada,NaN,NaN,NaN,NaN,16949_14000119189601.png,NaN,NaN
3422,NaN,nada,NaN,NaN,NaN,NaN,16950_149062043828.png,NaN,NaN
3423,NaN,nada,NaN,NaN,NaN,NaN,16952_140001197757.png,NaN,NaN

In [66]:
# exportar
path_to_sp = "C:\\Users\\ext_fantmiraudal\\Desktop\\test_vision_api\\Object Detection Data\\df_sin_producto.csv"
df_sin_producto.to_csv(path_to_sp)

In [61]:
# realizar copia de df de imagenes con producto
df_con_producto = csv_final.copy()

In [42]:
df_final[df_final['image_name']=='11990_149046465248.png']

,index,label_name,x_min,y_min,bbox_width,bbox_height,image_name,image_width,image_height
3860,57,bolsa,0.0,49.0,195.0,178.0,11990_149046465248.png,195.0,260.0

In [62]:
# unificar 2 
df_final = pd.concat((df_con_producto, df_sin_producto))
# desordenar
df_final_shuffle = df_final.sample(frac=1, random_state=1).reset_index()

In [63]:
# revisar
df_final_shuffle

,level_0,index,label_name,x_min,y_min,bbox_width,bbox_height,image_name,image_width,image_height
0,9026,26,caja,46.0,8.0,85.0,86.0,10280_149046356753.png,187.0,250.0
1,9151,12,bolsa,0.0,95.0,122.0,155.0,10438_149046363875.png,187.0,250.0
2,6338,68,bolsa,1.0,8.0,186.0,242.0,14804_149048116912.png,187.0,250.0
3,11147,1,bolsa,8.0,37.0,66.0,120.0,1090_149043756619.png,250.0,187.0
4,8516,50,bolsa,31.0,107.0,56.0,76.0,11296_149046405146.png,153.0,204.0
...,...,...,...,...,...,...,...,...,...,...
15655,905,16,bolsa,0.0,100.0,98.0,61.0,6345_149045776517.png,112.0,250.0
15656,5192,26,bolsa,1.0,137.0,160.0,119.0,4415_149045524728.png,192.0,256.0
15657,12172,48,bolsa,0.0,74.0,116.0,124.0,12875_149046544673.png,116.0,252.0
15658,235,57,mala,112.0,66.0,40.0,65.0,16652_149048824699.png,153.0,204.0
15659,939,NaN,nada,NaN,NaN,NaN,NaN,9491_149046319881.png,NaN,NaN

In [71]:
# no considerarando imagenes 'full'
df_final_shuffle2 = df_final_shuffle[(df_final_shuffle['label_name'] != 'mala') & \
                                    (df_final_shuffle['label_name'] != 'full')]

In [72]:
# revisar
gb_name = df_final_shuffle2.groupby(['image_name'])['image_name'].count()

In [73]:
# revisar
len(gb_name)

13002

In [74]:
# considerando imagenes 'full'
df_final_shuffle3 = df_final_shuffle[(df_final_shuffle['label_name'] != 'mala')]

In [75]:
# revisar
gb_name2 = df_final_shuffle3.groupby(['image_name'])['image_name'].count()

In [76]:
# revisar
len(gb_name2)

13160

In [27]:
# exportar
path_to_shuffle = "C:\\Users\\ext_fantmiraudal\\Desktop\\test_vision_api\\Object Detection Data\\Parte 1 y 2\\df_final_shuffle_1y2.csv"
df_final_shuffle.to_csv(path_to_shuffle)

In [99]:
# funciÃ³n para generar diccionario con formato adecuado (esta es la primera versiÃ³n en 
# donde se eliminan las etiquetas full)
def labels_exportation(csv_final):
    index = 0
    dic = {}
    alertas = []
    while index < len(csv_final):
        if csv_final.loc[index]['label_name'] != 'nada' and \
        csv_final.loc[index]['label_name'] != 'mala' and \
        csv_final.loc[index]['label_name'] != 'full':
            name = str(csv_final.loc[index]['image_name'])
            # todas las etiquetas de una imagen respectiva
            df = csv_final[csv_final.image_name == name]
            
            # Inicializar diccionario
            result = {}
            
            # Rellenar diccionario
            result['image_id'] = name
            image_height = float(csv_final.loc[index]['image_height'])
            image_width = float(csv_final.loc[index]['image_width'])
            #result['height'] = csv_final.loc[index]['image_height']
            #result['width'] = csv_final.loc[index]['image_width']
            result['height'] = image_height
            result['width'] = image_width
            
            # obs1: si no es una foto mala entonces se itera
            # obs2: clasificaciÃ³n multiple -> etiquetas-> bolsa = 0
            #                                             caja = 1
            #                                             otro = 2
            #                                             full = 3
            # obs3: una clase -> etiqueta = 1 (por producto)
            
            boxes = np.empty((0,4))
            area_list = []
            label_list = []
            alerta = 0
            
            for row in df.index:
                # Coordenadas
                x_min = float(df.loc[row]['x_min'])
                y_min = float(df.loc[row]['y_min'])
                bbox_height = float(df.loc[row]['bbox_height'])
                bbox_width = float(df.loc[row]['bbox_width'])
                x_max = bbox_width + x_min
                y_max = bbox_height + y_min
                # comprobaciÃ³n valores de x e y
                if x_min >= x_max or y_min >= y_max or\
                x_max > image_width or y_max > image_height:
                    alerta+=1
                # ObtenciÃ³n de caja
                new_boxes = np.array([[x_min,y_min,x_max,y_max]])
                boxes = np.concatenate((boxes, new_boxes))
                # Area de cada producto
                area_producto = bbox_width*bbox_height
                area_list.append(area_producto)
                # ObtenciÃ³n de etiqueta
                label = df.loc[row]['label_name']
                #if label != 'full':
                #    label_list.append(1)
                label_list.append(1)
            
            area_array = np.array(area_list)
            label_array = np.array(label_list)
            result['boxes'] = boxes
            result['labels'] = label_array
            result['area'] = area_array
            result['iscrowd'] = np.zeros(len(df))
            
            # Diccionario de diccionarios
            if alerta == 0:
                dic[name] = result
            else:
                alertas.append(name)
        
        elif csv_final.loc[index]['label_name'] == 'nada': 
            name = str(csv_final.loc[index]['image_name'])
            # todas las etiquetas de una imagen respectiva
            df = csv_final[csv_final.image_name == name]
            # Inicializar diccionario
            result = {}
            
            # Rellenar diccionario
            result['image_id'] = name
            result['height'] = 0.0
            result['width'] = 0.0
            
            # obs1: si no es una foto mala entonces se itera
            # obs2: clasificaciÃ³n multiple -> etiquetas-> bolsa = 0
            #                                             caja = 1
            #                                             otro = 2
            #                                             full = 3
            # obs3: una clase -> etiqueta = 1 (por producto)
            area_array = np.array([])
            result['boxes'] = np.empty((0,4))
            result['labels'] = np.ones(0)
            result['area'] = area_array
            result['iscrowd'] = np.zeros(0)
            
            # Diccionario de diccionarios
            dic[name] = result
        # Actualizar indice
        index += len(df)
    return dic, alertas

In [65]:
# funciÃ³n para generar diccionario con formato adecuado
def labels_exportation(csv_final):
    index = 0
    dic = {}
    alertas = []
    correctas = []
    while index < len(csv_final):
        name = str(csv_final.loc[index]['image_name']) 
        if csv_final.loc[index]['label_name'] != 'nada' and \
        csv_final.loc[index]['label_name'] != 'mala' and \
        name not in alertas and\
        name not in correctas:
        # PARA NO CONSIDERAR 'FULL' ELIMINAR DOS COMENTARIOS SIGUIENTES
        #csv_final.loc[index]['label_name'] != 'full' and name not in alertas and\
        #name not in correctas:
            #name = str(csv_final.loc[index]['image_name'])
            # todas las etiquetas de una imagen respectiva
            df = csv_final[csv_final.image_name == name]
            
            # Inicializar diccionario
            result = {}
            
            # Rellenar diccionario
            result['image_id'] = name
            image_height = float(csv_final.loc[index]['image_height'])
            image_width = float(csv_final.loc[index]['image_width'])
            #result['height'] = csv_final.loc[index]['image_height']
            #result['width'] = csv_final.loc[index]['image_width']
            result['height'] = image_height
            result['width'] = image_width
            
            # obs1: si no es una foto mala entonces se itera
            # obs2: clasificaciÃ³n multiple -> etiquetas-> bolsa = 0
            #                                             caja = 1
            #                                             otro = 2
            #                                             full = 3
            # obs3: una clase -> etiqueta = 1 (por producto)
            
            boxes = np.empty((0,4))
            area_list = []
            label_list = []
            alerta = 0
            
            for row in df.index:
                # Coordenadas
                x_min = float(df.loc[row]['x_min'])
                y_min = float(df.loc[row]['y_min'])
                bbox_height = float(df.loc[row]['bbox_height'])
                bbox_width = float(df.loc[row]['bbox_width'])
                x_max = bbox_width + x_min
                y_max = bbox_height + y_min
                # comprobaciÃ³n valores de x e y
                if x_min >= x_max or y_min >= y_max or\
                x_max > image_width or y_max > image_height:
                    alerta+=1
                # ObtenciÃ³n de caja
                new_boxes = np.array([[x_min,y_min,x_max,y_max]])
                boxes = np.concatenate((boxes, new_boxes))
                # Area de cada producto
                area_producto = bbox_width*bbox_height
                area_list.append(area_producto)
                # ObtenciÃ³n de etiqueta
                label = df.loc[row]['label_name']
                #if label != 'full':
                #    label_list.append(1)
                label_list.append(1)
            
            area_array = np.array(area_list)
            label_array = np.array(label_list)
            result['boxes'] = boxes
            result['labels'] = label_array
            result['area'] = area_array
            result['iscrowd'] = np.zeros(len(df))
            
            # Diccionario de diccionarios
            if alerta == 0:
                dic[name] = result
                correctas.append(name)
            else:
                alertas.append(name)
        
        elif csv_final.loc[index]['label_name'] == 'nada': 
            # Inicializar diccionario
            result = {}
            
            # Rellenar diccionario
            result['image_id'] = name
            result['height'] = 0.0
            result['width'] = 0.0
            
            # obs1: si no es una foto mala entonces se itera
            # obs2: clasificaciÃ³n multiple -> etiquetas-> bolsa = 0
            #                                             caja = 1
            #                                             otro = 2
            #                                             full = 3
            # obs3: una clase -> etiqueta = 1 (por producto)
            area_array = np.array([])
            result['boxes'] = np.empty((0,4))
            result['labels'] = np.ones(0)
            result['area'] = area_array
            result['iscrowd'] = np.zeros(0)
            
            # Diccionario de diccionarios
            dic[name] = result
            correctas.append(name)
        # Actualizar indice
        index += 1
    return dic, alertas, correctas

In [66]:
# obtener diccionario
dic, alertas, correctas = labels_exportation(df_final_shuffle)

In [67]:
# revisar largo
len(dic)

13135

In [68]:
len(correctas)

13135

In [69]:
len(alertas)

25

In [77]:
len(alertas) + len(correctas) == len(gb_name2)

True

In [78]:
# revisar alertas
alertas

['8285_149046191305.png',
 '291_21163126611.png',
 '5073_149045588331.png',
 '11486_149046416405.png',
 '12283_149046491662.png',
 '10724_149046375109.png',
 '10279_149046356734.png',
 '12482_149046511205.png',
 '11514_149046418144.png',
 '4423_149045525273.png',
 '11037_149046390208.png',
 '5869_149045723186.png',
 '11511_149046418108.png',
 '5480_149045642618.png',
 '11251_149046402965.png',
 '15029_149048180501.png',
 '6073_149045746226.png',
 '6648_149045824333.png',
 '11757_149046438454.png',
 '12691_149046528300.png',
 '5137_149045597053.png',
 '12626_149046524401.png',
 '6333_149045775715.png',
 '16238_149048616270.png',
 '16035_149048538823.png']

In [79]:
# Guardar diccionario como json
import json

path_json = "C:\\Users\\ext_fantmiraudal\\Desktop\\test_vision_api\\Object Detection Data\\Parte 1 y 2\\dict_bbox_p123_revisada_cf.json"

class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)

# create json object from dictionary
json = json.dumps(dic, cls=NpEncoder)

# open file for writing, "w" 
f = open(path_json,"w")

# write json object to file
f.write(json)

# close file
f.close()

In [80]:
#